/SoulVoice.API/SV.API/obj
/SoulVoice.API/SV.API/bin
/SoulVoice.API/SV.Application/obj
/SoulVoice.API/SV.Application/bin
/SoulVoice.API/SV.Common/obj
/SoulVoice.API/SV.Common/bin
/SoulVoice.API/SV.Entity/obj
/SoulVoice.API/SV.Entity/bin
/SoulVoice.API/SV.Repository/obj
/SoulVoice.API/SV.Repository/bin
/SoulVoice.API/SV.Repository.Core/obj
/SoulVoice.API/SV.Repository.Core/bin
/SoulVoice.API/.vs
